.main,
.feedback,
.subscribe,
.contact {
  margin-top: 12vh;
  position: relative;
  width: 100%;
  height: 88vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}
.detalii {
  margin-top: 12vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

@media screen and (max-width: 480px) {
  .main,
  .feedback,
  .subscribe,
  .contact {
    margin-top: 10vh;
    height: 90vh;
  }
  .detalii {
    margin-top: 10vh;
    padding: 1rem;
  }
  .feedback,
  .subscribe {
    align-items: flex-start;
  }
}
