.subscribe-form {
  padding: 1rem 2rem;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-shadow: rgba(109, 109, 109, 0.2) 0 4px 20px 5px;
  border-radius: 0.5rem;
}

.subscribe-info {
  text-align: center;
  font-size: 1rem;
  display: flex;
}
.subscribe-info p {
  margin-left: 0.5rem;
}

@media screen and (max-width: 480px) {
  .subscribe-form {
    box-shadow: none;
    height: 75vh;
    max-width: 100%;
    justify-content: space-evenly;
  }
  .subscribe-info p {
    margin-left: 0.2rem;
  }
}
