.login,
.admin {
  margin-top: 12vh;
  height: 88vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 480px) {
  .admin,
  .login {
    min-height: 90vh;
    margin-top: 10vh;
  }
}
